<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span jhiTranslate="projetApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="montant"><span>Depot</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montant"><span >Retrait</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commRetireur"><span >Commission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateRetrait"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td *ngIf="transaction.idUserExp.id==idUserConnecte">{{transaction.montant}}</td>
                <td *ngIf="transaction.idUserExp.id!=idUserConnecte">--</td>
                <td *ngIf="transaction.idUserRetir.id==idUserConnecte">{{transaction.montant}}</td>
                <td *ngIf="transaction.idUserRetir.id!=idUserConnecte">--</td>

                <td *ngIf="transaction.idUserExp.id==idUserConnecte && transaction.idUserRetir.id!=idUserConnecte">{{transaction.commExp}}</td>
                <td *ngIf="transaction.idUserRetir.id==idUserConnecte && transaction.idUserExp.id!=idUserConnecte">{{transaction.commRetireur}}</td>
                <td *ngIf="transaction.idUserRetir.id==idUserConnecte && transaction.idUserExp.id==idUserConnecte">{{transaction.commRetireur+transaction.commExp}}</td>
                <td *ngIf="transaction.idUserExp.id==idUserConnecte && transaction.idUserRetir.id!=idUserConnecte">{{transaction.dateEnvois | date:'mediumDate'}}</td>
                <td *ngIf="transaction.idUserRetir.id==idUserConnecte && transaction.idUserExp.id!=idUserConnecte">{{transaction.dateRetrait | date:'mediumDate'}}</td>
                <td *ngIf="transaction.idUserRetir.id==idUserConnecte && transaction.idUserExp.id==idUserConnecte">{{transaction.dateRetrait | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
