<div class="row justify-content-center">
    <div class="col-8">
        <div>
            <button type="button"  class="btn btn-primary" [disabled]="envois" (click)="unEnvois()">
                <span>Envois</span>
            </button>
            <button type="submit" [disabled]="!envois" class="btn btn-info" (click)="unEnvois()">
                &nbsp;<span>Retrait</span>
            </button>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.dateEnvois" for="field_dateEnvois">Date Envois</label>
                    <div class="input-group">
                        <input id="field_dateEnvois" type="text" class="form-control" name="dateEnvois" ngbDatepicker  #dateEnvoisDp="ngbDatepicker" formControlName="dateEnvois"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEnvoisDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.dateRetrait" for="field_dateRetrait">Date Retrait</label>
                    <div class="input-group">
                        <input id="field_dateRetrait" type="text" class="form-control" name="dateRetrait" ngbDatepicker  #dateRetraitDp="ngbDatepicker" formControlName="dateRetrait"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateRetraitDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.frais" for="field_frais">Frais</label>
                    <input type="number" class="form-control" name="frais" id="field_frais"
                           formControlName="frais"/>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.commSysteme" for="field_commSysteme">Comm Systeme</label>
                    <input type="number" class="form-control" name="commSysteme" id="field_commSysteme"
                           formControlName="commSysteme"/>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.commExp" for="field_commExp">Comm Exp</label>
                    <input type="number" class="form-control" name="commExp" id="field_commExp"
                           formControlName="commExp"/>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.commRetireur" for="field_commRetireur">Comm Retireur</label>
                    <input type="number" class="form-control" name="commRetireur" id="field_commRetireur"
                           formControlName="commRetireur"/>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.taxe" for="field_taxe">Taxe</label>
                    <input type="number" class="form-control" name="taxe" id="field_taxe"
                           formControlName="taxe"/>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>
                <div class="form-group" *ngIf="!envois">
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group" *ngIf="envois">
                    <label class="form-control-label" for="field_idExp">Envoyeur</label>
                    <select class="form-control" id="field_idExp" name="idExp" formControlName="idExp">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('idExp').value?.id ? editForm.get('idExp').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="envois">
                    <label class="form-control-label" for="field_idDest">Retireur</label>
                    <select class="form-control" id="field_idDest" name="idDest" formControlName="idDest">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('idDest').value?.id ? editForm.get('idDest').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.idUserExp" for="field_idUserExp">Id User Exp</label>
                    <select class="form-control" id="field_idUserExp" name="idUserExp" formControlName="idUserExp">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('idUserExp').value?.id ? editForm.get('idUserExp').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.idUserRetir" for="field_idUserRetir">Id User Retir</label>
                    <select class="form-control" id="field_idUserRetir" name="idUserRetir" formControlName="idUserRetir">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('idUserRetir').value?.id ? editForm.get('idUserRetir').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="projetApp.transaction.montant" for="field_montant">Montant</label>
                <input type="number" class="form-control" name="montant" id="field_montant" formControlName="montant" [disabled]="envois"/>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
