<div class="row justify-content-center">
    <div class="col-8">
        <div class="form-group">
            <button type="button"  [ngClass]="{'btn':true, 'btn-primary': envois==false,'btn-danger': envois==true}" [disabled]="envois" (click)="unEnvois()">
                <span>Envois</span>
            </button>
            <button type="submit" [disabled]="!envois" [ngClass]="{'btn':true, 'btn-info': envois==true,'btn-danger': envois==false}" (click)="unEnvois()">
                &nbsp;<span>Retrait</span>
            </button>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group" *ngIf="!envois">
                    <label class="form-control-label" jhiTranslate="projetApp.transaction.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code" formControlName="code"/>
                </div>

                <div class="form-group" *ngIf="!envois">
                    <label class="form-control-label"for="field_code">Numero carte d'identité recepteur</label>
                    <input type="text" class="form-control" name="nciRecp" formControlName="nciRecp"/>
                </div>

                <div class="form-group" *ngIf="envois">
                    <label class="form-control-label" for="field_idExp">Envoyeur</label>
                    <select class="form-control" id="field_idExp" name="idExp" formControlName="idExp">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('idExp').value?.id ? editForm.get('idExp').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="envois">
                    <label class="form-control-label" for="field_idDest">Retireur</label>
                    <select class="form-control" id="field_idDest" name="idDest" formControlName="idDest">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id === editForm.get('idDest').value?.id ? editForm.get('idDest').value : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" *ngIf="envois">
                <label class="form-control-label" jhiTranslate="projetApp.transaction.montant" for="field_montant">Montant</label>
                <input type="number" class="form-control" name="montant" id="field_montant" formControlName="montant" [disabled]="envois"/>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
